<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Feb 14 2014 08:55:45 GMT+0000 (UTC) -->
<html data-wf-site="52fc1f49ac1481c20f0000e4">
<head>
  <meta charset="utf-8">
  <title>A6EZ - LogIn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/a6ez.webflow.css">

<!-- ADDED Feb 19 -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
<!-- ADDED Feb 19 -->

  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body bgcolor = "#ECF6CE">
  <div class="w-nav" data-collapse="all" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container nav1">
      <a class="w-nav-brand brand" href="/html/index.html"></a>
      <nav class="w-nav-menu" role="/html/navigation">
        <a class="w-nav-link" id="signupButton">Sign Up</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>

 <div class="w-form">
   <form id="authorization-form" role="form" name="email-form">

      <div class="w-container">
        <h1 align="center">A Photo A Day</h1>
      </div>

      <label for="usrName">User Name:</label>
      <input type="text" class="form-control" id="usrName" placeholder="Enter username..."></input>
      <label for="usrPassword">Password:</label>
      <input type="password" class="form-control" id="usrPassword" placeholder="Enter password..."></input>
    </form>

    <div class="w-form-done">
      <p>Thank you! Your submission has been received!</p>
    </div>
    <div class="w-form-fail">
      <p>Oops! Something went wrong while submitting the form :(</p>
    </div>
  </div>
  <div class="w-row">
    <button id="authorizationSubmitButton" type="button" class="myButton" tyle="float: left;">Submit</button>

    <a href="/signup"  class="myButton">Sign Up</a>

    <button id="forgetButton" type="button" class="myButton" style="float: right;">Forget</button>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/webflow.js"></script>

<!-- ADDED Feb 19 -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/index.js"></script>
<!-- ADDED Feb 19 -->

</body>
</html>