<!doctype html>

<html>
<head>
  <title>HCI Project Portfolio</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
    <link rel="stylesheet" type="text/css" href="/css/a6ez.webflow.css">
    <script>
      if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
    </script>
      
</head>

<body>
  <div class="container">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->
  <div class="w-nav" data-collapse="all" data-animation="default" data-duration="400" data-contain="1">
      <div class="w-container nav1">
        <a class="w-nav-brand brand" href="index.html"></a>
        <nav class="w-nav-menu" role="navigation">
          <a class="w-nav-link" href="/main">Home</a>
          <a class="w-nav-link" href="addphoto">Upload</a>
          <a class="w-nav-link" href="/set">Setting</a>
          <a class="w-nav-link" href="/help">Help</a>
          <a class="w-nav-link" href="/">Sign Out</a>
        </nav>
        <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>

    <h4>Photo Scripts</h4>

    {{#each photos}}
    <div class="photos" id="photos{{id}}">
      <div class="thumbnail">
        <a>
          <img src="{{image}}" alt="Lorem Pixel image" class="img project-img">
          <p>{{date}}</p>
          <p>{{summary}}</p>
        </a>
        <div class="details"></div>
      </div>
    </div>
    {{/each}}


    <a href="/main"  class="btn btn-default">Top</a>
    <a href="/addphoto"  class="btn btn-default">Upload</a>

 
  <hr />



  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/webflow.js"></script>

<!-- ADDED Feb 19 -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>
