<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Feb 14 2014 08:55:46 GMT+0000 (UTC) -->
<html data-wf-site="52fc1f49ac1481c20f0000e4">
<head>
  <meta charset="utf-8">
  <title>A6EZ - sign up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/a6ez.webflow.css">

<!-- ADDED Feb 19 -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <div class="w-nav" data-collapse="all" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container nav1">
      <a class="w-nav-brand brand" href="/html/index.html"></a>
      <nav class="w-nav-menu" role="/html/navigation">
        <a class="w-nav-link" href="/">Back</a>

      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="w-form">
    <form id="signup-form" role="form" name="email-form">
      <label for="newName"></label>
      <input type="text" class="form-control" id="newName" placeholder="Enter new user name..."></input>
      <label for="newEmail"></label>
      <input type="text" class="form-control" id="newEmail" placeholder="Enter your email..."></input>
      <label for="newPW"></label>
      <input type="text" class="form-control" id="newPW" placeholder="Enter new password..."></input>
      <label for="retypePW"></label>
      <input type="text" class="form-control" id="retypePW" placeholder="Re-enter your password..."></input>
    </form>

    <div class="w-form-done">
      <p>Thank you! Your submission has been received!</p>
    </div>
    <div class="w-form-fail">
      <p>Oops! Something went wrong while submitting the form :(</p>
    </div>
  </div>

   <div class="w-row">
    <button id="signupCancelButton" type="button" class="btn btn-default">Cancel</button>
    <!--<div class="w-col w-col-6 w-col-small-6 w-col-tiny-6"><a class="button" href="/html/main.html">Submit</a>-->
    <button id="signupSubmitButton" type="button" class="btn btn-default">Submit</button>
  </div>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/webflow.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>