<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/a6ez.webflow.css">
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=8;IE=9;chrome=1;">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="//ssl.gstatic.com/docs/spreadsheets/favicon_jfk2.png">
<title>Copy of TimelineJS Template</title>

<link href="/static/spreadsheets/client/css/936351937-trix_published_ltr.css" type="text/css" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" title="Copy of TimelineJS Template - Google Docs" href="https://spreadsheets.google.com/feeds/list/0AmGHFkvY8ZVtdE9velFsVDdGZkstN3FlU3NjWWs0V3c/od6/public/basic">

<script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>
</head>
<body bgcolor="#9fbdc2" itemscope="" itemtype="http://schema.org/CreativeWork/SpreadsheetObject"><meta itemprop="name" content="Copy of TimelineJS Template"><meta itemprop="faviconUrl" content="//ssl.gstatic.com/docs/spreadsheets/favicon_jfk2.png"><meta itemprop="url" content="https://docs.google.com/spreadsheet/pub?key=0AmGHFkvY8ZVtdE9velFsVDdGZkstN3FlU3NjWWs0V3c&amp;output=html"><meta itemprop="embedURL" content="https://docs.google.com/spreadsheet/preview?key=0AmGHFkvY8ZVtdE9velFsVDdGZkstN3FlU3NjWWs0V3c">

  <div class="w-nav" data-collapse="all" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container nav1">
      <a class="w-nav-brand brand" href="index.html"></a>
      <nav class="w-nav-menu" role="navigation">
       <a class="w-nav-link" href="main.html">Home</a>
        <a class="w-nav-link" href="help.html">Help</a>
        <a class="w-nav-link" href="take.html">Take a Photo</a>
        <a class="w-nav-link" href="photos.html">Photo Gallery</a>
        <a class="w-nav-link" href="maps.html">Map Your Life</a>
        <a class="w-nav-link" href="fullcalendar1/demos/agenda-views.html">Calendar</a>
        <a class="w-nav-link" href="index.html">Sign Out</a>
Calendar</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>

<iframe src="http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AmGHFkvY8ZVtdE9velFsVDdGZkstN3FlU3NjWWs0V3c&amp;font=Bevan-PotanoSans&amp;maptype=toner&amp;lang=en&amp;height=650" width="100%" height="650" frameborder="0"></iframe>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>



<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', "UA-18065-4"]);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
})();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48716619-1', 'reallab7.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>